:root {
    /*Laying out the colors I'll use to style the app. I'll be using variables for these
    for the sake of convenience.*/
    --dark: #31343d;
    --light-blue: #92cccd;
    --grey-blue: #475b79; 
    --off-white: #ededf6;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--dark);
}

header h1 {
    flex: 0 0 400px;
    padding: 10px 20px;
    background-color: var(--light-blue);
    color: var(--dark);
    font-size: 2.5rem;
    text-align: center;
}

header nav a {
    display: inline;

    font-size: 1.25rem;
    color: var(--light-blue);
    margin-right: .5rem;

    text-decoration-thickness: 0.2rem;
}

header nav a:hover, header nav a:focus, header nav a:active {
    color: white;
}

main {
    margin-top: 0px;
    background-color: var(--off-white);
    color: var(--grey-blue);
}

main aside h1 {
    font-weight: bolder;
}

main a {
    color: var(--grey-blue);

    text-decoration-thickness: 0.2rem;
}

main a:hover, main a:focus, main a:active {
    color: var(--light-blue);
}

.jumbotron {
    background-image: url("../images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 0px;
}

.jumbotron .container {
    display: flex; 
    justify-content: end;
}

.jumbotron .container .lead {
    /* display: inline-block ensures that this element is no larger than its contents */
    display: inline-block;
    background-color: var(--light-blue);

    font-size: 1.5rem;
    color: var(--dark);
}

.main-content {
    border-left: 0.2rem solid var(--grey-blue);
}

.project-holder {
    border: 0.2rem;
    cursor: pointer;
    border-color: var(--light-blue);
}

.image-holder {
    /* margin: 0; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.project-title {
    background-color: var(--light-blue);
    display: inline-block;

    color: var(--dark);
    padding: 2px 5px;
    max-width: 50%;

    position: absolute;
    top: 20px;
    left: 20px;
}

/* display is set to none by default; revealed when project is clicked on */
.text-holder {
    display: none;
    background-color: #d9d9de;
}

.text-holder ul {
    margin-bottom: 0;
}

.text-holder a {
    font-size: 1.5rem
}

#about-me p {
    font-size: 1.25rem;
}

/* #main-project {
    display: flex;
    justify-content:center;
} */

#main-project .image-holder {
    height: 250px;
    /* margin: 0; */
    background-image: url("https://i.imgur.com/FiNwVSM.jpeg");
}

#other-projects .image-holder {
    height: 150px;
}

#other-1 {
    background-image: url("https://camo.githubusercontent.com/8e24df195f9b8bf41ca11e36348ca650f9632ecbb2b65ddd99f717515330ffd1/68747470733a2f2f692e696d6775722e636f6d2f306850453979382e706e67");
}

#other-2 {
    background-image: url("https://camo.githubusercontent.com/d868c304fbd8ee0d7284f9dbea92be8bd7ce995f36700885c7db4b84aaf0a7e1/68747470733a2f2f692e696d6775722e636f6d2f766432506136682e706e67");
}

#other-3 {
    background-image: url("https://camo.githubusercontent.com/410543f8f1f0e7d7f2808d39cb3ea861472f1bcfb4a910a3fa70809537971be4/68747470733a2f2f692e696d6775722e636f6d2f7446396e3145722e706e67");
}

#other-4 {
    background-image: url("https://camo.githubusercontent.com/2bf9d4eb60052e486c5e7e1fd3d4567c64fd2db73ca19c4d0fcfa867f64d7c5c/68747470733a2f2f692e696d6775722e636f6d2f3864644439747a2e706e67");
}

#contact-me a {
    /* margin-top: 20px; */
    text-align: center;
    font-size: 1.5rem;
    color: var(--grey-blue);
    text-decoration-thickness: 0.2rem;
}

#contact-me a:hover, #contact-me a:focus, #contact-me a:active {
    color: var(--light-blue);
}

@media screen and (max-width: 767px){
    .jumbotron .container {
        justify-content: center;
    }

    main aside {
        display: flex;
        justify-content: center;
    }

    .main-content {
        border-left: none;
        padding-top: 10px;
        border-top: 0.2rem solid var(--grey-blue);
    }
}

